<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuJAo9LXm5FYLIuDXADtXvye0rP3sq6FM</string>
	<key>GCM_SENDER_ID</key>
	<string>829582636632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeimage1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>storeimage-e8a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>storeimage-e8a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829582636632:ios:043bc3f87d444363613c2d</string>
</dict>
</plist>